@charset "UTF-8";
/*!
Jelmer Laks 2021
*/

html,body {
    width: 100%;
    height: 100%;
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 300;
    overflow-x: hidden;
    padding: 10;
    margin-top: 60px;
    background-color: black;
    animation: fadein 2s;
    animation-fill-mode: forwards;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 400;
    padding: 0;
    margin: 0;
}

p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 0;
    margin: 0;
}

.image_spread{
    height: 100%;
    background-image:url("//Images/Forest.jpg");
    background-position: center;
}

.center {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.headshot {
    border-radius: 60%;
    overflow: hidden;
    border-style: solid;
    border-width: 4px;
}

.section {
    width: 60%;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow:  5px 5px 30px #aaaaaa;
    background-color: aliceblue;
}

.section:hover {
    animation: moveToRight .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
}

.footer{
    width: 80%;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.white_text {
    color: white
}

/*animation */
  
@keyframes fadein {
   0% {opacity:0;}
   100% {opacity: 1;}
  }

@keyframes moveToRight {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(20px);
    }
  }