@charset "UTF-8";
/*!
Jelmer Laks 2021
*/

html,body {
    width: 100%;
    height: 100%;
    margin:0;
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 300;
    overflow-x: hidden;
    background-color: #262523;
    animation: fadein 2s;
    animation-fill-mode: forwards;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 400;
    padding: 0;
    margin: 0;
}

p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 0;
    margin: 0;
}

.navbar {
    height: auto;
    width: 100%;
    display: flex;
    position:fixed;
    overflow: hidden;
}

.center_line {
    width: 4px;
    height: 100%;
    background-color: white;
    position: fixed;
    margin-left: 50%;
    z-index: -1;
}

.menu_entry {
    font: 100 25px Google Sans,Helvetica Neue,sans-serif;
    color: white;
    padding: 20px;
}

.image_spread {
    height: auto;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    background-repeat: no-repeat;
}

.center {
    margin: 0 auto;
    flex-wrap: wrap;
}

.headshot {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.intro {
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    background:rgb(255, 228, 74);
}

.section {
    width: 60%;
    margin: 0px auto;
    margin-top: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: aliceblue;
}

.column1 {
    width: 70%;
    padding: 60px;
    background-color: rgb(255, 228, 74);
}

.column2 {
    width: 30%;
    padding: 60px;
}

.footer{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 40px;
    background-color: rgb(255, 228, 74);
}

.white_text {
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
    text-align: center;
}

/*animation */
  
@keyframes fadein {
   0% {opacity:0;}
   100% {opacity: 1;}
  }

@keyframes moveToRight {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(20px);
    }
  }